// ************** Auth ************** //

.bg {
  height: 100vh;
  width: 100%;
  padding: 10% 0;
  background: url('../../assets/images/bg.jpg') no-repeat;
  background-size: cover;
}

.overlay{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //z-index: 2;
  cursor: pointer;
  background-color: rgba(180, 145, 186, .7);
}

.auth {
  //display: flex;
  //flex-direction: column;
  //align-items: center;

  position: relative;
  margin: auto;
  padding: 3rem 3rem 3rem;
  max-width: 30rem;
  text-align: center;
  background-color: white;
  border: solid 1px grey;
  border-radius: 1rem;
  filter: drop-shadow(10px 10px 2px rgba(0,0,0, .2));

  &__title {
    position: absolute;
    top: -2rem;
    left: 1.5rem;
    /*margin: 0 1rem 2rem;*/
    padding: 1rem 4rem;
    width: calc(100% - 3rem);
    height: 76px;
    text-align: center;
    line-height: 2;
    font-size: 1.2rem;
    color: white;
    background: linear-gradient(to right, #a744ba, #7d21a3);;
    border-radius: 5px;
    filter: drop-shadow(0 15px 10px rgba(0,0,0, .2));
  }

  &__subtitle {
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }

  label {
    display: flex;
    margin-bottom: 3rem;
    max-width: 100%;
    //border: solid 1px red;

    svg {
      margin-right: 1rem;
    }
  }

  &__input {
    flex-grow: 1;
    //padding: .5rem;
    padding-left: 0;
    padding-bottom: .4rem;
    //margin-left: 1rem;
    margin-top: -.3rem;
    max-width: 100%;
    border: none;
    border-bottom: solid 1px #d2d2d2;
    transition: all 200ms ease-in;
    filter: drop-shadow(0 0 0 rgba(0,0,0, 0));

    &::placeholder {
      color: #d2d2d2;
    }

    &:focus {
      outline: none;
      filter: drop-shadow(0 15px 10px rgba(0,0,0, .2));
    }
  }

  &__btn {
    color: #f383a9;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    outline: none;

    transition: all 200ms ease-in;

    &:hover,
    &:active {
      transform: scale(1.3);
    }

    &:focus {
      transform: scale(1.1);
    }

    &_secondary {
      padding: .7rem 1.5rem;
      font-size: .8rem;
      color: white;
      background-color:  purple;
      border-radius: 15rem;
    }
  }
}

.auth-login {
  padding-top: 6rem;
  max-width: 351px;
}

.form-check {
  padding-left: 0;
}

.form-check input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.form-check input[type="checkbox"] + label:before {
  margin-top: -1px;
  margin-right: 1rem;
  vertical-align: middle;
  content: '';
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border: solid 1px #a8a8a8;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
}

.form-check input[type="checkbox"]:checked + label:before {
  //background: url("../img/ic_ok.png") center no-repeat;
  background-color: purple;
  border: solid 1px purple;
  cursor: pointer;
}

.form-check__label {
  display: block !important;
  text-align: left;
  margin-bottom: 1rem;
  letter-spacing: normal;
  border: solid 1px transparent;
  text-transform: none;
  cursor: pointer;

  a {
    color: purple;
  }
}
@media (max-width: 575.98px) {
  .form-check__label {
    margin-bottom: 0; }
}
